body{
    background: #f4f4f3;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.theme-switcher{
    background: #BA4849;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
}

.topRow{
    background: #BA4849;
    height: 280px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.topColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.metImp-header{
    color: white;
}

#input-el{
    height: 83px;
    width: 117px;
    border: 2px solid #cd7474;
    border-radius: 5px;
    color: white;
    background: #cd7474;
    text-align: center;
    font-size: 8ch;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 25px
} 

#convert-btn{
    width: 117px;
    height: 42px;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    color:#3d3d3d;
    font-size: 2ch;
    cursor: pointer;
}

h1{
    margin: 0px;
}

.bottomRow{
    display: flex;
    justify-content: center;
}

.bottomColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #BA4849;
}

.length-header, .volume-header, .mass-header{
    height: 109px;
    width: 500px;
    margin-top: 30px;
    background: #ffffff;
    text-align: center;
    padding: 10px 45px 2px; /* top left/right bottom */
}

p{
    color: #3d3d3d;   
}